.App {
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: space-around;
}

.tooltip {
  background-color: white;
  font-size: 95%;
}

.sub-text {
  font-size: 0.35cm;
  color: gray;
}

.link {
  color: gray;
}
