.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  justify-content: space-around;
}

.tooltip {
  background-color: rgba(255, 255, 255, 1);
  font-size: 80%;
  box-shadow: 1.5px 1.5px 3px #ccc;
  font-family: "Saira", sans-serif;
  border-radius: 0.1cm;
  position: relative;
  left: -10px;
}

.sub-text {
  font-family: "Saira", sans-serif;
  color: #7e7e7e;
}

.link {
  color: #7e7e7e;
  font-family: "Saira", sans-serif;
}

h2 {
  color: #464646;
  font-family: "Saira", sans-serif;
  font-weight: 500;
}

h3 {
  color: #b73779;
  font-family: "Saira", sans-serif;
  font-weight: 400;
  font-size: 95%;
}

h4 {
  font-family: "Montserrat", sans-serif;
}

.pop-up {
  height: auto;
  width: 601px;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}

@media (max-width: 600px) {
  .pop-up {
    height: auto;
    width: 92vw;
    justify-content: space-around;
    align-content: center;
    text-align: center;
  }
}

.option-share {
  font-family: "Saira", sans-serif;
  font-size: 90%;
  color: #7e7e7e;
}

.option-share:hover {
  color: #464646;
}

.close-button {
  position: absolute;
  top: 0cm;
  right: 0cm;
}

.share-button {
  margin-top: -0.3cm;
}

.copied {
  color: #000000;
  font-size: 3;
  font-family: "Saira", sans-serif;
}

.export {
  background-color: white;
  width: 450px;
  justify-content: space-around;
  display: inline-block;
}

@media (max-width: 600px) {
  .export {
    background-color: white;
    width: 350px;
    justify-content: space-around;
    display: inline-block;
  }
}

@font-face {
  font-family: "Saira";
  src: url("./assets/fonts/Saira/Saira-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Saira";
  font-weight: bold;
  src: url("./assets/fonts/Saira/Saira-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
